.product {
    width: 100%;
    max-width: 280px;
    height: 300px;
    padding: 5px;
    border: solid gray 1px;
    border-radius: 12px;
    margin: 5px;
}

@media(max-width: 1150px) {
    .product {
        max-width: 240px;
        border-radius: 8px;
    }
}

.product-number {
    float: left;
    color: #535bf2;
}

.product-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-image {

}

.product-category {
    color: brown;
}

.product-quantity {
    color: green;
    margin-bottom: 5px;
}

.product-producer {
    color: blue;
}

.taken{
    display: none;
    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
}
