.about {
    position: fixed;
    left: 25%;
    top: 25%;
    width: 50%;
    min-height: 15%;
    background-color: white;
    border: 3px solid green;
    border-radius: 30px;
    padding: 10px;
}

.about-shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/Field.jpg");
    z-index: 1000;
}

h2 {
    color: limegreen;
    margin-bottom: 10px;
}

p {
    text-align: left;
}

.about-close-button {
    position: absolute;
    top: -20px;
    right: 10px;
    font-size: 4em;
    font-weight: 100;
    cursor: pointer;
}